<app-header></app-header>
<mat-toolbar>
  <span>Equipos</span>

  <mat-form-field>
    <mat-label>Año</mat-label>
    <mat-select name="year" [(ngModel)]="yearSelected">
      <mat-option *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="botonActualizar(yearSelected)">
    Aplicar Filtro
  </button>
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutAlign = "center center">

      <app-single-team *ngFor="let equipo of equipos" [singleTeam]="equipo"></app-single-team>


  </div>
</div>
