mat-toolbar {
  height: 125px;
  border-bottom: 1px solid rgb(136, 135, 135);
}

img {
  width: 25%;
}
ul,
li {
  list-style: none;
}

nav {
  width: 60%;
}
ul {
  display: flex;
  flex-flow: row wrap;
}
li {
  margin-left: 3%;
  margin-right: 3%;
}
