<div class="content">
  <div fxLayout="row wrap" fxLayoutAlign = "center center">
    <div fxFlex = "20%">
      <mat-card class="mat-elevation-z4" >
        <img mat-card-image [src]="'https://cdn.vox-cdn.com/thumbor/5ayCJ68aV1f2Z8eQXuqeCIPgmxo=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/23258556/1238634795.jpg'">
        <mat-card-content>
          <h3 class="ellipsis">Equipos</h3>
        </mat-card-content>

      </mat-card>
      <mat-card class="mat-elevation-z4" >
        <img mat-card-image [src]="'https://s.france24.com/media/display/1f247228-edf5-11ec-b661-005056a90284/w:1280/p:1x1/2022-06-17T034444Z_1227399714_MT1USATODAY18549431_RTRMADP_3_NBA-FINALS-GOLDEN-STATE-WARRIORS-AT-BOSTON-CELTICS.JPG'">
        <mat-card-content>
          <h3 class="ellipsis">Jugadores
          </h3>
        </mat-card-content>

      </mat-card>
    </div>
  </div>

