
  <div class = "container" fxLayout="row wrap" style="background-image: url('https://wallpaperaccess.com/full/139513.jpg'); background-repeat: no-repeat; background-size: cover;">

    <div class="" fxLayoutAlign = "center center" fxLayoutGap = "5%">
      <mat-card class="mat-elevation-z1" >
        <a routerLink="/jugadores">
        <img mat-card-image [src]="'https://i.ibb.co/Z2hL2Sx/image.jpg'">

      </a>
      </mat-card>
      <mat-card class="mat-elevation-z2" >
        <a routerLink="/equipos">
        <img mat-card-image [src]="'https://i.ibb.co/nRGbZFK/image2.jpg'">
      </a>

      </mat-card>
    </div>
  </div>
