mat-card{
  width: 30%;
  height: 50%;
  float: left;


}

.container{
  background-position: cover;
}

img:hover{
  width: 100%;
  display: flex;
  overflow: hidden;
  -webkit-transform:scale(1.3);transform:scale(1.3);

}

mat-card img{
  object-fit: cover;



}

.row{
  width: max-content;
}

.container{
  height: 100%;
}
