@import "../../../assets/variables.scss";

#envoltorio {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 100%;
  height: 95%;
}

#containerFiltros {
  padding-top: 0;
  width: 100%;
  background-color: #8d99ae;
}

#filtros {
  padding: 3%;
  padding-right: 10%;
}

#buscador {
  padding: 3%;
}
.paginador {
  width: 100%;
}
.card {
  width: $defaultMatCardWidth;
  margin: 4%;
  overflow: hidden;
  padding: 0;
  height: 235px;
}
.errorNotFound {
  width: 85%;
}
mat-card-header {
  z-index: 2;
}
.jugador {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  z-index: 0;
}
.logo {
  float: inline-end;
}
.errorCard {
  margin: 4%;
  overflow: hidden;
  padding: 0;
  height: 235px;
}
.errorCard mat-card-content {
  padding: 3%;
}

.card:hover {
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14),
    0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

mat-card-header {
  padding-top: 2%;
  background-color: #ed3248;
}

.logo {
  width: 25%;
}

.jugador {
  display: block !important;
  max-width: 95%;
}

@media only screen and (min-width: 0px) and (max-width: 870px) {
  .card {
    width: 75%;
  }
}
@media only screen and (min-width: 870px) and (max-width: 1292px) {
  .card {
    width: $defaultMatCardWidth + 15%;
  }
}
@media only screen and (min-width: 1292px) {
  .card {
    width: $defaultMatCardWidth -10%;
  }
}

#botonFiltro {
  margin-left: 3%;
}
