#mainContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: max;
}
#envoltorio {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 25%;
  padding-bottom: 175px;
}
#container {
  width: 100%;
  height: 95%;
  flex-grow: 1;
}
table {
  width: 50%;
}
footer .copyright {
  float: right;
  letter-spacing: 0.25em;
}
footer {
  margin-top: auto;
  width: fill;
  height: 130px;
  color: white;
  background-color: #2b2d42;
  padding: 1%;
  position: absolute;
  bottom: 0;
}
a {
  color: white;
}
footer .disclaimer {
  float: left;
  text-decoration: none;
  letter-spacing: 0.25em;
}
table {
  width: 100%;
}
@media only screen and (min-width: 1292px) {
  .imagenTabla {
    width: 25%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 870px) {
  .imagenTabla {
    width: 5%;
  }
}
@media only screen and (min-width: 870px) and (max-width: 1292px) {
  .imagenTabla {
    width: 32.5%;
  }
}
.imagenTabla img {
  display: block;
  margin: 0;
  width: 50%;
  transition: 1.5s;
}
td {
  height: 2rem;
  margin: auto;
  text-align: start;
}

#logoEquipo {
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 20%;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(0%);
}

.tdMinCell {
  width: 20vw;
}

#data {
  position: absolute;
  right: 0;
  width: 50%;
  padding: 5%;
}

#leaders {
  width: 100%;
}

#nbaLogo {
  display: block;
  margin-left: 10%;
  width: 15%;
}

@font-face {
  font-family: exo;
  src: url("../../../assets/fonts/exo.ttf");
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: exo;
}
h2 {
  font-weight: 700;
  font-family: exo;
}
h3 {
  font-weight: 700;
  font-family: exo;
}
#leaders {
  margin: 3%;
}
#liderIcono {
  transform: scale(2.5);
  margin-right: 5%;
}
