<div id="mainContainer">
  <img
    id="logoEquipo"
    [src]="
      'https://cdn.nba.com/logos/nba/' + equipo.teamId + '/global/L/logo.svg'
    "
  />
  <div id="data">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h1>{{ equipo.fullName }}</h1>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h2>
        <em>{{ equipo.tricode }}</em>
      </h2>
      <img
        id="nbaLogo"
        src="../../../assets/images/nbaLogo.png"
        *ngIf="equipo.isNBAFranchise"
      />
    </div>
  </div>
  <div id="envoltorio">
    <h2>Jugadores</h2>
    <mat-tab-group mat-align-tabs="start">
      <ng-component *ngIf="jugadoresStandard.length != 0">
        <mat-tab label="Estandar">
          <table
            mat-table
            [dataSource]="jugadoresStandard"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="urlFoto">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                <img
                  mat-card-sm-image
                  [src]="StandardPlayer.urlFoto"
                  onerror="{this.src='../../../assets/images/userNotFound.png'}"
                />
              </td>
            </ng-container>
            <ng-container matColumnDef="jersey">
              <th mat-header-cell *matHeaderCellDef>Numero de camiseta</th>
              <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                {{ StandardPlayer.jersey }}
              </td>
            </ng-container>
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                {{ StandardPlayer.firstName }}&nbsp;{{
                  StandardPlayer.lastName
                }}
              </td>
            </ng-container>
            <ng-container matColumnDef="heightMeters">
              <th mat-header-cell *matHeaderCellDef>Altura</th>
              <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                <span *ngIf="StandardPlayer.heightMeters != ''"
                  >{{ StandardPlayer.heightMeters }}&nbsp;m</span
                >
                <span
                  *ngIf="
                    StandardPlayer.heightMeters == '' &&
                    StandardPlayer.heightFeet != '-'
                  "
                  >{{ StandardPlayer.heightFeet }}&nbsp;pies</span
                >
                <span
                  *ngIf="
                    StandardPlayer.heightMeters == '' &&
                    StandardPlayer.heightFeet == '-'
                  "
                  >Sin datos</span
                >
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </mat-tab>
      </ng-component>
      <ng-component *ngIf="jugadoresSacramento.length != 0">
        <mat-tab label="Sacramento">
          <div>
            <table
              mat-table
              [dataSource]="jugadoresSacramento"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="urlFoto">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  <img
                    mat-card-sm-image
                    [src]="StandardPlayer.urlFoto"
                    onerror="{this.src='../../../assets/images/userNotFound.png'}"
                  />
                </td>
              </ng-container>
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  {{ StandardPlayer.firstName }}&nbsp;{{
                    StandardPlayer.lastName
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="jersey">
                <th mat-header-cell *matHeaderCellDef>Numero de camiseta</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  {{ StandardPlayer.jersey }}
                </td>
              </ng-container>
              <ng-container matColumnDef="heightMeters">
                <th mat-header-cell *matHeaderCellDef>Altura</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  <span *ngIf="StandardPlayer.heightMeters != ''"
                    >{{ StandardPlayer.heightMeters }}&nbsp;m</span
                  >
                  <span
                    *ngIf="
                      StandardPlayer.heightMeters == '' &&
                      StandardPlayer.heightFeet != '-'
                    "
                    >{{ StandardPlayer.heightFeet }}&nbsp;pies</span
                  >
                  <span
                    *ngIf="
                      StandardPlayer.heightMeters == '' &&
                      StandardPlayer.heightFeet == '-'
                    "
                    >Sin datos</span
                  >
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-tab>
      </ng-component>
      <ng-component *ngIf="jugadoresUtah.length != 0">
        <mat-tab label="Utah">
          <div>
            <table
              mat-table
              [dataSource]="jugadoresUtah"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="urlFoto">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  <img
                    mat-card-sm-image
                    [src]="StandardPlayer.urlFoto"
                    onerror="{this.src='../../../assets/images/userNotFound.png'}"
                  />
                </td>
              </ng-container>
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  {{ StandardPlayer.firstName }}&nbsp;{{
                    StandardPlayer.lastName
                  }}
                </td>
              </ng-container>
              <ng-container matColumnDef="jersey">
                <th mat-header-cell *matHeaderCellDef>Numero de camiseta</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  {{ StandardPlayer.jersey }}
                </td>
              </ng-container>
              <ng-container matColumnDef="heightMeters">
                <th mat-header-cell *matHeaderCellDef>Altura</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  <span *ngIf="StandardPlayer.heightMeters != ''"
                    >{{ StandardPlayer.heightMeters }}&nbsp;m</span
                  >
                  <span
                    *ngIf="
                      StandardPlayer.heightMeters == '' &&
                      StandardPlayer.heightFeet != '-'
                    "
                    >{{ StandardPlayer.heightFeet }}&nbsp;pies</span
                  >
                  <span
                    *ngIf="
                      StandardPlayer.heightMeters == '' &&
                      StandardPlayer.heightFeet == '-'
                    "
                    >Sin datos</span
                  >
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-tab>
      </ng-component>
      <ng-component *ngIf="jugadoresVegas.length != 0">
        <mat-tab label="Vegas">
          <div>
            <table
              mat-table
              [dataSource]="jugadoresVegas"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="urlFoto">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  <img
                    mat-card-sm-image
                    [src]="StandardPlayer.urlFoto"
                    onerror="{this.src='../../../assets/images/userNotFound.png'}"
                  />
                </td>
              </ng-container>
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  {{ StandardPlayer.firstName }}&nbsp;{{
                    StandardPlayer.lastName
                  }}
                </td>
              </ng-container>
              <ng-container matColumnDef="jersey">
                <th mat-header-cell *matHeaderCellDef>Numero de camiseta</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  {{ StandardPlayer.jersey }}
                </td>
              </ng-container>
              <ng-container matColumnDef="heightMeters">
                <th mat-header-cell *matHeaderCellDef>Altura</th>
                <td mat-cell *matCellDef="let StandardPlayer" class="tdMinCell">
                  <span *ngIf="StandardPlayer.heightMeters != ''"
                    >{{ StandardPlayer.heightMeters }}&nbsp;m</span
                  >
                  <span
                    *ngIf="
                      StandardPlayer.heightMeters == '' &&
                      StandardPlayer.heightFeet != '-'
                    "
                    >{{ StandardPlayer.heightFeet }}&nbsp;pies</span
                  >
                  <span
                    *ngIf="
                      StandardPlayer.heightMeters == '' &&
                      StandardPlayer.heightFeet == '-'
                    "
                    >Sin datos</span
                  >
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-tab>
      </ng-component>
    </mat-tab-group>
    <div id="as">
      <div>
        <mat-icon>military_tech</mat-icon>
        <h2>Lideres de equipo</h2>
        <div>
          <h1 *ngIf="lideres.ppg.value != null">
            {{ lideres.ppg.value ? null : 0 }}
          </h1>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
