mat-toolbar {
  justify-content: space-between;
  background-color: #2b2d42;
  color: white;
  height: 10%;
}

.content > mat-card {
  width: 40%;
  margin: 5%;
}
.mat-card-content {
  text-align: center;
  font-family: n;
}
mat-card img{
  width: 100%;
}
